<h1><%= @student.to_s %></h1>

<% if @student.active %>
<<<<<<< HEAD
  <p>This student is currently active.</p>
<% else %>
   <div>This student is currently inactive.</div>
   <% end %>
=======
This student is currently active.
<% else %>
This student is currently inactive.
<% end %>
>>>>>>> 2bb3433e6751944946be7f9ea501fcc0f2aceaab
